*.mson filter=lfs diff=lfs merge=lfs -text
Visualization/Job_Structures/Pre_VASP/VCrTi_Fixed_512/debug_relaxed_entries.json filter=lfs diff=lfs merge=lfs -text
Notebooks/parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
