new_compositions_2.json filter=lfs diff=lfs merge=lfs -text
compositions_gen4.json filter=lfs diff=lfs merge=lfs -text
finetuned_medium_mace_vcrti_neb_20per_100_110_e1f50s25_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
fixed_barrier_results.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_fep_vac_L2_e1f25s100_correct_stress_stagetwo_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_vac_all_fake_stress_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_fep_vac_L2_e1f25s100_stagetwo_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
compositions_gen3.json filter=lfs diff=lfs merge=lfs -text
eci_l1.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_fep_vac_L2_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_vac_L3_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
supercells.json filter=lfs diff=lfs merge=lfs -text
compositions.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_vac_onfepdata_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
new_new_compositions.json filter=lfs diff=lfs merge=lfs -text
volume_comparison_data.json filter=lfs diff=lfs merge=lfs -text
compositions_gen2.json filter=lfs diff=lfs merge=lfs -text
foundational_mace_vcrti_vac_neg_conv_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_vac_25per_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
barrier_results.json filter=lfs diff=lfs merge=lfs -text
finetuned_medium_mace_vcrti_vac_conv_e1f50s25_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
mace_vcrti_vac_neg_conv_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
new_compositions.json filter=lfs diff=lfs merge=lfs -text
test_parsed_data.json filter=lfs diff=lfs merge=lfs -text
mace_vcrtiwzr_vac_all_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
chgnet_barrier_results_v2.json filter=lfs diff=lfs merge=lfs -text
foundational_mace_vcrti_neb_samp_25per_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
mace_vcrti_neb_samp_25per_e1f25s100_parity_plot_data.json filter=lfs diff=lfs merge=lfs -text
